.App {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  border: 0.2rem  outset black;
  border-radius: 8px;
  font:  1rem sans-serif;
  margin: 2rem;
  padding: 0rem;
  float: left;
}

li.name {
  color: black;
  font-size: 1.5em;
  background-color: skyblue;
  padding: 0em;
}
li {
  color: white;
  list-style-type: none;
  background-color: blue;
  font-size: 0.8em;
  padding: 0.5em;
}

.myForm {
  border: 0.2rem  outset green;
  border-radius: 8px;
  font:  1rem sans-serif;
  margin: 2rem;
  padding: 2rem;

  float: left;
}

ul div {
  padding: 0.5em;
}

